div(class='content')
  h2 #{resources[':name']}

  p
    if resources[':description']
      | #{resources[':description']}
    else
      em
        | Not much is known about #{resources[':name']}, but the chances it is a
        | very nice person are very high.
