div(class='content')
  h2 #{resource[':name']}

  p
    if resource[':description']
      | #{resource[':description']}
    else
      em
        | Not much is known about #{resource[':name']}, but the chances it is a
        | very nice person are very high.
