div(class='content')
  h2 #{sectionName}

  table
    tr
      th Subject
      th Predicate
      th Object
    
    each quad in quads
      tr
        each component in quad
          td !{component.left}#{component.value}!{component.right}
